  <link rel="stylesheet" href="/css/Addstudent.css">
  <nav>
  <a href="/employee/dashboard">Home</a>
  </nav>
  <div class="container">
     <h1>Add Student </h1>
    <form action="/employee/addstudent" method="POST">
        
          <div class="form-group">
              <label for="name">Batch</label>
              <input type="text" class="form-control" name="batch" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Batch" required>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" required>
        </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="name">College</label>
            <input type="text" class="form-control" name="college" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter college" required>
        </div>
        <div class="form-group">
            <label for="name">Status</label>
            <input type="text" class="form-control" name="status" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter status" required>
        </div>
        <div class="form-group">
            <label for="name">DSA Final Score</label>
            <input type="text" class="form-control" name="Dsa_final_score" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Dsa_final_score" required>
        </div>
        <div class="form-group">
            <label for="name">WebD Final Score</label>
            <input type="text" class="form-control" name="Webd_final_score" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Webd_final_score" required>
        </div>
        <div class="form-group">
            <label for="name">React Final Score</label>
            <input type="text" class="form-control" name="React_final_score" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter React_final_score" required>
        </div>
          
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
