<link rel="stylesheet" href="/css/signup.css" />
<nav>
  <a href="/">Sign In</a>
</nav>
<section>
  <div class="container">
    <h1>Sign Up To Account</h1>
    <form id="form" action="/create_session" method="POST">
      <input
        id="firstname"
        type="text"
        name="name"
        placeholder="Enter First Name"
      /><br />

      <input
        id="email"
        type="text"
        name="email"
        placeholder="Enter The Email"
      /><br />

      <input
        id="password"
        type="password"
        name="password"
        placeholder="Enter The Password"
      /><i class="fa-solid fa-circle-check"></i>&nbsp;<i
        class="fa-solid fa-circle-exclamation"
      ></i
      ><br /><br />
      <button id="button" type="submit">Submit</button>
    </form>
    <p>
      <a href="/auth/google" style="color: blue">Google Sign In / Sign Up</a>
    </p>
  </div>
</section>
